body {
    font-family: 'Oswald', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: teal ;
    box-sizing: border-box;
}

button {
    font-family: 'Oswald', sans-serif;
    font-size: 3vmin;
    cursor: pointer;
}

#mainholder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    margin-top: -60px;
}

#title {
    text-align: center;
    font-size: 5vmin;
    margin: 0;
}

#gridholder {
    background-color: white;
    display: grid;
    width: 40vmin;
    height: 80vmin;
    grid-template-rows: repeat(10, 1fr);
    border: solid black 4px;
    padding: 1vmin;
    row-gap: 5px;
    margin-top: 0;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

.grid {
    border: solid black 1px;
    border-radius: 10%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid img {
    height: 70%;
    width: 70%;
    object-fit: contain;
}

#colorbtnholder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 80vmin;
    width: 50vmin;
}

#colorholder {
    display: grid;
    height: 250px;
    width: 375px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: solid black 4px;
    margin-bottom: 20px;
    margin-left: 40px;
}

#btnholder {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}


h3 {
    text-align: center;
    font-size: 2.2vmin;
}

.color {
    border: solid black 1px;
    cursor: pointer;
}

#red {
    background-color: red;
}

#aqua {
    background-color: aqua;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#pink  {
    background-color: pink;
}

#purple {
    background-color: purple;
}

.hidden {
    display: none;
}